{% extends "base.html" %}
{% block title %}Номера - Гостиница "Мира"{% endblock %}
{% block content %}
<div class="container">
    <h1>Наши номера</h1>
    <div class="room">
        <img src="{{ url_for('static', filename='room1.jpg') }}" alt="Одноместный стандарт">
        <h2>Одноместный стандарт</h2>
        <p>Уютный номер с одной кроватью и всеми необходимыми удобствами для комфортного отдыха.</p>
        <p>Завтрак, обед и ужин включены в стоимость.</p>
        <p>Уборка один раз в день.</p>
        <p><strong>Цена: 2000 руб/ночь</strong></p>
        <a href="{{ url_for('booking', room_id=1) }}" class="btn">Забронировать</a>
    </div>
    <div class="room">
        <img src="{{ url_for('static', filename='room2.jpg') }}" alt="Двуместный стандарт">
        <h2>Двуместный стандарт</h2>
        <p>Просторный номер с двумя кроватями и панорамными окнами с выходом на балкон. Идеален для пар или друзей.</p>
        <p>Завтрак, обед и ужин включены в стоимость.</p>
        <p>Уборка один раз в день.</p>
        <p><strong>Цена: 4000 руб/ночь</strong></p>
        <a href="{{ url_for('booking', room_id=2) }}" class="btn">Забронировать</a>
    </div>
    <div class="room">
        <img src="{{ url_for('static', filename='room3.jpg') }}" alt="Одноместный люкс">
        <h2>Одноместный люкс</h2>
        <p>Роскошный люкс с большой кроватью, панорамными окнами и дополнительными удобствами для особого комфорта.</p>
        <p>Премиум завтрак, обед и ужин включены в стоимость.</p>
        <p>Открыт бар с бесплатным посещением.</p>
        <p>Уборка несколько раз в день.</p>
        <p><strong>Цена: 9000 руб/ночь</strong></p>
        <a href="{{ url_for('booking', room_id=3) }}" class="btn">Забронировать</a>
    </div>
    <div class="room">
        <img src="{{ url_for('static', filename='room4.jpg') }}" alt="Двуместный люкс">
        <h2>Двуместный люкс</h2>
        <p>Премиум люкс с двумя кроватями, отдельной зоной отдыха и великолепным видом из окна. Идеален для
            романтического отдыха или деловых поездок.</p>
        <p>Премиум завтрак, обед и ужин включены в стоимость.</p>
        <p>Открыт бар с бесплатным посещением.</p>
        <p>Уборка несколько раз в день.</p>
        <p><strong>Цена: 11000 руб/ночь</strong></p>
        <a href="{{ url_for('booking', room_id=4) }}" class="btn">Забронировать</a>
    </div>
</div>
{% endblock %}